.info {
  > [data-info-row] {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.middot {
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background-color: currentColor;
}
